

.infos .container{
    min-height: 600px;
}
.tab {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;

    background-color: rgba(27, 27, 27, 0.253);
}
.contact-elem {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
}
.contact-elem i{
    margin: 0.5rem;
}
.contact-elem img {
    width: 15px;
}
.contact-item-elem{
    margin: 1rem 0;
}
.contact-item-annee{
    background-color: rgba(255, 255, 255, 0.836);
    color: #222;
    width: 110px;
    padding: 0 0.5rem;
    font-weight: 600;
    margin: 0.5rem auto;
    text-align: center;
    border-radius: 1px;
}
.contact-item-text{
    text-align: center;
}
.active{
    background-color: rgba(255, 255, 255, 0.212);
}

@media screen and (max-width : 900px){
    .infos .container{
        min-height: 400px;
    }
}